*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #f5f7fb;
}

a {
  color: inherit;
  text-decoration: none;
}
